.cesium-button,
.cesium-geocoder-searchButton,
.cesium-toolbar-button {
    /* display: block; */
    /* margin: 1px; */
    /* padding: 4px; */
    color: white;
    /* font-size: 1.14em; */
    /* font-weight: bold; */
    text-decoration: none;
    text-align: center;
    /* height: 1.375em;
    width: 1.375em; */
    /* line-height: .4em; */
    background-color: rgba(22, 119, 255, 0.5);
    border: none;
    border-radius: 2px;
}

.cesium-button:hover,
.cesium-button:focus {
    text-decoration: none;
    background-color: rgba(22, 119, 255, 0.7);
}

.react-cesiumext-control {
    /* padding: 2px; */
    border-radius: 2px;
    border: none;
    position: absolute;
    background-color: rgba(22, 119, 255, 0.5);
    color: white;
}