.rcesiumext-overlay-tooltip {
    display: none;
    color: white;
    background-color: #1890ff;
    border-radius: 4px;
    padding: 4px 8px;
    opacity: 0.7;
    position: absolute;
    border: 1px solid white;
}